In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('D:\\2_Extra\\Data Science\\Machine Learning Projects\\Optimal-Pace-and-Heart-Rate-Recommender-for-Calorie-Burn\\data\\calories_burned_data.csv')

In [3]:
df.head()

,Gender,Age,Height(cm),Weight(kg),BMI,Running Time(min),Running Speed(km/h),Distance(km),Average Heart Rate,Calories Burned
0,Male,49,184,74,20.4,78,9.5,3.00,139,973
1,Female,56,182,70,23.2,98,10.2,5.23,165,494
2,Male,49,170,85,27.4,91,10.4,7.61,134,954
3,Male,21,181,59,24.0,89,13.4,14.19,144,570
4,Male,47,172,86,29.8,79,9.8,3.84,149,385

Feature Engineering

In [5]:
df.columns = df.columns.str.replace(r'\(.*\)', '', regex=True)
df.head()

,Gender,Age,Height,Weight,BMI,Running Time,Running Speed,Distance,Average Heart Rate,Calories Burned
0,Male,49,184,74,20.4,78,9.5,3.00,139,973
1,Female,56,182,70,23.2,98,10.2,5.23,165,494
2,Male,49,170,85,27.4,91,10.4,7.61,134,954
3,Male,21,181,59,24.0,89,13.4,14.19,144,570
4,Male,47,172,86,29.8,79,9.8,3.84,149,385

In [6]:
#dropping redundant columns
df = df.drop(['BMI', 'Distance'], axis=1)
df.head()

,Gender,Age,Height,Weight,Running Time,Running Speed,Average Heart Rate,Calories Burned
0,Male,49,184,74,78,9.5,139,973
1,Female,56,182,70,98,10.2,165,494
2,Male,49,170,85,91,10.4,134,954
3,Male,21,181,59,89,13.4,144,570
4,Male,47,172,86,79,9.8,149,385

Pre-processing

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

df.head()

,Gender,Age,Height,Weight,Running Time,Running Speed,Average Heart Rate,Calories Burned
0,1,49,184,74,78,9.5,139,973
1,0,56,182,70,98,10.2,165,494
2,1,49,170,85,91,10.4,134,954
3,1,21,181,59,89,13.4,144,570
4,1,47,172,86,79,9.8,149,385

In [9]:
from sklearn.model_selection import train_test_split

X = df.drop(['Average Heart Rate', 'Running Time'], axis=1)
y = df[['Average Heart Rate', 'Running Time']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Fit the scaler only on the training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test data
X_test_scaled = scaler.transform(X_test)

# Converting the scaled arrays back to DataFrames (optional, for ease of use)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

Saving the Scaler and Encoder in pickle files

In [18]:
import pickle
import os

preprocessors_path = 'D:\\2_Extra\\Data Science\\Machine Learning Projects\\Optimal-Pace-and-Heart-Rate-Recommender-for-Calorie-Burn\\preprocessors'  

# Ensure the directory exists
os.makedirs(preprocessors_path, exist_ok=True)

# Save the scaler
scaler_file_path = os.path.join(preprocessors_path, 'scaler.pkl')
with open(scaler_file_path, 'wb') as f:
    pickle.dump(scaler, f)

# Save the label encoder
label_encoder_file_path = os.path.join(preprocessors_path, 'label_encoder.pkl')
with open(label_encoder_file_path, 'wb') as f:
    pickle.dump(le, f)

Saving the train and test data in csv s

In [19]:
train_df = pd.concat([X_train, y_train], axis=1)
test_df = pd.concat([X_test, y_test], axis=1)

# Define paths for saving
train_path = 'D:\\2_Extra\\Data Science\\Machine Learning Projects\\Optimal-Pace-and-Heart-Rate-Recommender-for-Calorie-Burn\\data\\train_data.csv'
test_path = 'D:\\2_Extra\\Data Science\\Machine Learning Projects\\Optimal-Pace-and-Heart-Rate-Recommender-for-Calorie-Burn\\data\\test_data.csv'

# Save train and test datasets
train_df.to_csv(train_path, index=False)
test_df.to_csv(test_path, index=False)